<SETTINGS>

  <DIAGNOSTICS>
    <STATE> Enabled </STATE>
    <PORT> 5570 </PORT>
  </DIAGNOSTICS>
  
  <IP_ADDRESS> 172.24.1.1 </IP_ADDRESS>
  <!-- <IP_ADDRESS> localhost </IP_ADDRESS> -->
  <!-- <IP_ADDRESS> 192.168.2.3 </IP_ADDRESS> -->
  <!-- <IP_ADDRESS> 10.42.0.69 </IP_ADDRESS> -->

  <CAMERA>
    <DEVICE> rpicamsrc </DEVICE>
    <CAPTURE_FRAMERATE> 60 </CAPTURE_FRAMERATE>
    <!-- <CAPTURE_FRAME_WIDTH> 512 </CAPTURE_FRAME_WIDTH> -->
    <!-- <CAPTURE_FRAME_HEIGHT> 320 </CAPTURE_FRAME_HEIGHT> -->
    <CAPTURE_FRAME_WIDTH> 640 </CAPTURE_FRAME_WIDTH> <!--640-->
    <CAPTURE_FRAME_HEIGHT> 400 </CAPTURE_FRAME_HEIGHT> <!--400-->
    
    <STREAM_PORT> 5564 </STREAM_PORT>
    <STREAM_FRAMERATE> 60 </STREAM_FRAMERATE>
    <!-- <STREAM_FRAME_WIDTH> 512 </STREAM_FRAME_WIDTH> -->
    <!-- <STREAM_FRAME_HEIGHT> 320 </STREAM_FRAME_HEIGHT> -->
    <STREAM_FRAME_WIDTH> 640 </STREAM_FRAME_WIDTH> <!--640-->
    <STREAM_FRAME_HEIGHT> 400 </STREAM_FRAME_HEIGHT> <!--400-->
  </CAMERA>

  <AUTONOMOUS>
    <CAPTURE_FRAMERATE> 60 </CAPTURE_FRAMERATE>
    <CAPTURE_FRAME_WIDTH> 640 </CAPTURE_FRAME_WIDTH>
    <CAPTURE_FRAME_HEIGHT> 400 </CAPTURE_FRAME_HEIGHT>
    <STREAM_PORT> 5593 </STREAM_PORT>
    <STREAM_FRAMERATE> 60 </STREAM_FRAMERATE>
    <STREAM_FRAME_WIDTH> 640 </STREAM_FRAME_WIDTH>
    <STREAM_FRAME_HEIGHT> 400 </STREAM_FRAME_HEIGHT>
  </AUTONOMOUS>  
  
  <MOTORS NAME="Wheels">
    <MOTOR NAME="Left">
      <PIN TYPE="PWM"> 10 </PIN>
      <PIN TYPE="Digital"> 20 </PIN>
    </MOTOR>
    <MOTOR NAME="Right">
      <PIN TYPE="PWM"> 11 </PIN>
      <PIN TYPE="Digital"> 21 </PIN>
    </MOTOR>
  </MOTORS>

  <MOTORS NAME="Arm">
    <MOTOR NAME="Servo1">
      <PIN TYPE="Other"> 13 </PIN> <!--top-->
    </MOTOR>
    <MOTOR NAME="Servo2">
      <PIN TYPE="Other"> 14 </PIN> <!--middle-->
    </MOTOR>
    <MOTOR NAME="Servo3">
      <PIN TYPE="Other"> 15 </PIN> <!--bottom-->
    </MOTOR>
    <MOTOR NAME="Gripper">
      <PIN TYPE="Other"> 12 </PIN>
    </MOTOR>
  </MOTORS>

  <MOTORS NAME="DeployableCamera">
  </MOTORS>

  <OPMODES_DIRECTORIES>
    joystick,
    robotic_arm,
    camera_feed,
    autonomous
  </OPMODES_DIRECTORIES>

  <RESOURCES_DIRECTORIES>
    resources/camera.py,
    resources/motors.py
  </RESOURCES_DIRECTORIES>

</SETTINGS>
