*~
#*#
__pycache__/
*NOTES*
/GUI/nbproject/private/
#/GUI/dist/
/GUI/build/
*DS_Store*
.vscode
.env
.AppleDouble
.AppleDouble/
.Parent
/Java_Backend/nbproject/private/
#/Java_Backend/dist/
/Java_Backend/build/
/Remote/nbproject/private/
/Remote/build/
/Remote/dist/