*~
#*#
__pycache__/
*NOTES*
/GUI/nbproject/private/
/GUI/build/
/GUI/dist/
*DS_Store*
.vscode
.env
.AppleDouble
.AppleDouble/
.Parent
/Java_Backend/nbproject/private/
/Java_Backend/build/
/Java_Backend/dist/

# Documentation
Documentation/*.lof
Documentation/*.log
Documentation/*.lot
Documentation/*.aux
Documentation/*.toc
Documentation/*.synctex.gz
Documentation/*.fdb_latexmk
Documentation/*.fls
