/*
 * Empty Stylesheet file.
 */
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Oct-2018, 17:08:47
    Author     : Ranul Pallemulle
*/

*{
    -fx-theme-background-color: #FFFFFF;/*#edfbff;*/
    -fx-theme-joy-color: #555555;/*#72b3ff;*/
    -fx-theme-joy-hover-color: #777777;/*#afd4ff;*/
    -fx-theme-joyback-color: #AAAAAA;/*#1984ff;*/
    -fx-theme-label-color: #000000;/*#10427c;*/
    -fx-theme-text-color: #000000;/*#10423c;*/
    -fx-theme-button-color: #555555;/*#72b3ff;*/
    -fx-theme-button-hover-color: #777777;/*#afd4ff;*/
}

.root{
    -fx-background-color: -fx-theme-background-color;
}

#freearm:hover{
    -fx-stroke: #000000;
}

#buttonarm3:hover{
    -fx-stroke: #000000;
}

#ButtonArmStart:hover{
    -fx-stroke: #000000;
}

#ButtonMain:hover{
    -fx-stroke: #000000;
}

#ButtonVid:hover{
    -fx-stroke: #000000;
}

#ButtonArm{
    -fx-fill: -fx-theme-button-color;
    -fx-stroke: #000000;
}

#ButtonArm:hover{
    -fx-fill: -fx-theme-button-hover-color;
}

#ButtonVid{
    -fx-fill: -fx-theme-button-color;
    -fx-stroke: #000000;
}

#ButtonVid:hover{
    -fx-fill: -fx-theme-button-hover-color;
}

#DispARM{
    -fx-fill: #FFFF33;
}
#DispJoyLabel{
    -fx-fill: -fx-theme-label-color;
}

#DispJoyX{
    -fx-fill: -fx-theme-text-color;
}

#DispJoyY{
    -fx-fill: -fx-theme-text-color;
}

#JoyBack{
    -fx-fill: -fx-theme-joyback-color;
    -fx-stroke: #000000;
}

#JoyButton{
    -fx-fill: -fx-theme-joy-color;
    -fx-stroke: #000000;
}

#JoyButton:hover{
    -fx-fill: -fx-theme-joy-hover-color;
}

#rover{
    -fx-fill: #AAAAAA;
    -fx-stroke: #000000;
}

#ground{
    -fx-fill: #cc7722
}

#armseg1{
    -fx-fill: #ffaa55;
    -fx-stroke: #000000;
}

#armseg1:hover{
    -fx-fill: #dd8833;
}

#armseg2{
    -fx-fill: #ffaa55;
    -fx-stroke: #000000;
}

#armseg2:hover{
    -fx-fill: #dd8833;
}

#armseg3{
    -fx-fill: #ff8855;
    -fx-stroke: #000000;
}

#armseg3:hover{
    -fx-fill: #dd8833;
}

#lineseg1{
    -fx-stroke: #dd9955;
}

#lineseg2{
    -fx-stroke: #dd9955;
}

#lineseg3{
    -fx-stroke: #dd9955;
}